<div class="header-news">	
	<div class="content">
		<h1 class="heading"	itemprop="name">{{headingtxt}}</h1>
		<h2 class="subheading" itemprop="description">{{subheadingtxt}}</h2>
		<p class="header-news-date" itemprop="datePublished" content="YYY-MM-DD">{{datetxt}}</p>
	</div>
</div>