<div class="header-selector {{maincolor}}">

    <div id="header-selector-container">

        <p class="header-selector-paragraph" >
            Great deals from

            <span class= "container">

                <select name="" class="header-selector-selectbox">
                    <option value="">Austin, TX (AUS)</option>
                    <option value="">Dallas-Fort Worth, TX (DFW)</option>
                    <option value="">Las Vegas, NV (LAS)</option>
                    <option value="">New York, NY (NYC) - All Airports</option>
                    <option value="">Washington DC (WAS) - All Airports</option>
                    <option value="">Washington DC (DCA)</option>
                </select>

            </span>
        </p>
    </div>
</div>