<div class="header-large {{bgcolor}}">
	<div class="wrap">						
		<div class="centered">
			<img src="/images/elevate-logo.png"  alt="">
		</div>	
		<p class="subheading">{{subheadingtext}}</p>
	</div>
</div>