<div class="header-selector {{maincolor}}">

    <div id="header-selector-container">

        <p class="header-selector-paragraph" >Find deals from
            <span class= "container">

    	        <select name="" class="header-selector-selectbox">
    	            <option value="">Newark Test</option>
    	            <option value="">Austin</option>
    	            <option value="">Seattle</option>
    	            <option value="">Chicago</option>
    	            <option value="">New York City</option>
    	            <option value="">Big City Name Here</option>
    	        </select>

            </span> in
            <span class= "container">

                <select name="" class="header-selector-selectbox">
                    <option value="">Main Cabin</option>
                    <option value="">Main Cabin Select</option>
                    <option value="">First Class</option>
                </select>

        	</span>
        </p>
    </div>
</div>