<div class="masterhead">
<figure>
  <img alt="asdf" out="{{ouimage}}" vx-global-image small="320" medium="768" large="2000">
  <figcaption>
    <div class="centered">
      <h3 class="heading">{{ouheader}}</h3>
	  <p class="subheading">{{subheader}}</p>
      <a href="http://www.google.com">{{oubutton}}</a>
    </div>
  </figcaption>
</figure>
</div>