<div class="nav-drop-down">
	<div class="nav-drop-down-container">
		<form name="navform">
			<select name="nav-drop-down-select" class="nav-drop-down-selectbox">
				<option value="" selected="selected" disabled="disabled">All Hotel Groups</option>
				<option value="">Option 01</option>
				<option value="">Option 02</option>
				<option value="">Option 03</option>
				<option value="">Option 04</option>
				<option value="">Option 05</option>
			</select>
		</form>
	</div>
</div>