<div class="nav-row {{backgroundcolor}}">
	<div class="nav-row-container--mobile">
		<form name="navrowmobileform">
			<select class="nav-row-selectbox is-trigger">
				<option value="/" selected="selected">Teste</option>
				<option value="#">Earn Points</option>
				<option value="#">Redeem Points</option>
				<option value="#">Buy Points</option>
				<option value="#">Elevate Status</option>
				<option value="#">Credit Card</option>
				<option value="#">Loren Ipsun</option>
				<option value="#">Eiusmod tempor</option>
			</select>
		</form>
	</div>
	<div class="nav-row-container">
		<a href="#" class="nav-row-container__arrow is-trigger"></a>
		<ul class="nav-row-list cf">
			<li>
				<a href="#">About Elevate</a>
			</li>
			<li>
				<a href="#">Earn Points</a>
			</li>
			<li>
				<a href="#">Redeem Points</a>
			</li>
			<li>
				<a href="#">Buy Points</a>
			</li>
			<li>
				<a href="#">Elevate Status</a>
			</li>
			<li>
				<a href="#">Credit Card</a>
			</li>
			<li>
				<a href="#">Loren Ipsun</a>
			</li>
			<li>
				<a href="#">Dolon Loren</a>
			</li>
			<li>
				<a href="#">Crisium Sepulturis</a>
			</li>
			<li>
				<a href="#">Textus</a>
			</li>
			<li>
				<a href="#">Aleatorius</a>
			</li>
			<li>
				<a href="#">Menus Compridus</a>
			</li>
		</ul>
	</div>
</div>