<div class="one-up">
<figure>
  <img src="{{ouimage}}" alt="">
  <figcaption>
    <div class="centered">
      <h3 class="heading">{{ouheader}}</h3>
      <a href="">{{oubutton}}</a>
    </div>
  </figcaption>
</figure>
</div>