<div class="table-column-four">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th class="col first">TableFourColumn</th>
          <th class="col second">Elevate Red</th>
          <th class="col third">Elevate Silver</th>
          <th class="col fourth">Elevate Gold</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col first">Priority Check-in</td>
          <td class="col second">-</td>
          <td class="col third">V</td>
          <td class="col fourth">Loren Ipsun et</td>
        </tr>
        <tr>
          <td class="col first">Priority Security</td>
          <td class="col second">Contentus ipsun</td>
          <td class="col third">V</td>
          <td class="col fourth">Ipsun dolen</td>
        </tr>
        <tr>
          <td class="col first">Priority Boarding</td>
          <td class="col second">Testtm uni loren</td>
          <td class="col third">V</td>
          <td class="col fourth">Cons et ud lipton</td>
        </tr>
        <tr>
          <td class="col first">Complimentary day passes to the Virgin America airport lounge at LAX</td>
          <td class="col second">Dolen loren</td>
          <td class="col third">2 Day Passes</td>
          <td class="col fourth">3 Day Passes</td>
        </tr>
        <tr>
          <td class="col first">Priority reservation line, live chat, and email</td>
          <td class="col second">Loren Ipsun</td>
          <td class="col third">Elevate Silver Dedicated Line</td>
          <td class="col fourth">Elevate Gold Dedicated Line</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>