<div class="table-column-two">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th class="col first">At-A-Grance</th>
          <th class="col second"></th>            
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col first">City Name</td>
          <td class="col second">San Francisco</td>            
        </tr>
        <tr>
          <td class="col first">Airport Name</td>
          <td class="col second"><a href="">San Francisco International Airport</a></td>
        </tr>
        <tr>
          <td class="col first">Airport Code</td>
          <td class="col second">50-54B</td>
        </tr>
        <tr>
          <td class="col first">Virgin america Gate(s)</td>
          <td class="col second">Terminal 2</td>
        </tr>
        <tr>
          <td class="col first">TSA Pre-Check Checkpoint Location</td>
          <td class="col second">Carousel 9</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>