<div class="three-up {{border}}">
<div class="wrap">
	<div class="container">

		<div class="col first">
			{{#if icon}}
				{{>ThreeUpItem-icon}}
			{{/if}}
			{{#if image}}
				{{>ThreeUpItem-image}}
			{{/if}}
			{{#if nobody}}
				{{>ThreeUpItem-no-body}}
			{{/if}}
			{{#if noimage}}
				{{>ThreeUpItem-no-image}}
			{{/if}}			
		</div>
		<div class="col second">
			{{#if icon}}
				{{>ThreeUpItem-icon}}
			{{/if}}
			{{#if image}}
				{{>ThreeUpItem-image}}
			{{/if}}
			{{#if nobody}}
				{{>ThreeUpItem-no-body}}
			{{/if}}
			{{#if noimage}}
				{{>ThreeUpItem-no-image}}
			{{/if}}	
		</div>
		<div class="col third">
			{{#if icon}}
				{{>ThreeUpItem-icon}}
			{{/if}}
			{{#if image}}
				{{>ThreeUpItem-image}}
			{{/if}}
			{{#if nobody}}
				{{>ThreeUpItem-no-body}}
			{{/if}}
			{{#if noimage}}
				{{>ThreeUpItem-no-image}}
			{{/if}}	
		</div>

	</div>
	</div>	
</div>