<div class="three-up-item-image red">
	<div class="centered">
		<div class="image"><img src="../images/sample_380x214.png" alt=""></div>
		<p class="caption">Subheading elevate points are yours, for as long as you want. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor.</p>
		<a href="">Button Text</a>
	</div>
</div>