<div class="three-up-item-icon purple">
	<div class="centered">
		<div class="icon"><img src="../images/sample_130x130.png" alt=""></div>
		<h2 class="heading">Heading</h2>
		<p class="subheading">Subheading elevate points are yours, for as long as you want. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
		<a href="">Button Text</a>
	</div>
</div>