<div class="header-large  comp-bg-red">
	<div class="wrap">	
			<h1 class="heading">Testing Button</h1>
		<p class="subheading">Aadf asdf asdf asdf </p>
		<a href="http://">Testando header</a>
	</div>
</div><div class="button-cmp red">
  <a href="http://">Testando Red</a>
</div><div class="one-up" style="background-image: url('/cms/dam/ONEUP_TEST2/ONEUP_TEST.jpg');">
  <div class="centered">
    <h3 class="heading">Tasd sadf asdf asdf asdf asdf asdf sdf </h3>
    <a href="http://">Testando</a>
  </div>
</div><div class="button-cmp purple">
  <a href="http://">Testando Purple</a>
</div><div class="two-up red comp-bg-xxlightgrey left border">
  <div class="wrap">
    <div class="container">
      <div class="col col-text red {{backgroundcolor}}">
        <div class="centered">
          <h2 class="heading">fds gsdfg sdf g</h2>
          <p class="subheading">sdfg sdfg sdfsg fg 
</p>
          <a href="http://">Testando TwoUp</a>
        </div>
      </div>
      <div class="col col-image">
        <img alt="" out="/cms/dam/vx-images/sample2_580x526.png" vx-global-image small="580" medium="352" large="580">
      </div>
    </div>
  </div>
</div><div class="promobox">
	<div class="centered">
		<h2>Testing Promobox</h2>
		<h1>Asdfg dsf gsdf gxcvb lkfjsgfg</h1>
	</div>
  <a href="http://" target="_blank">Testando Promo</a>
</div><div class="three-up border">
<div class="wrap">
	<div class="container">
		<div class="col first">
<div class="three-up-item-no-image purple">
	<div class="centered">
		<h2 class="heading">sadf asdf asdf a</h2>
		<p class="subheading">adsaf asdf df
</p>
		<a href="http://">Testando A</a>
	</div>
</div>		</div>
		<div class="col second">
<div class="three-up-item-no-image red">
	<div class="centered">
		<h2 class="heading">wert werdfsg xvc</h2>
		<p class="subheading">wetbgcvxsfd gsdf gcxvb 
</p>
		<a href="http://">Testando B</a>
	</div>
</div>		</div>
		<div class="col third">
<div class="three-up-item-no-image purple">
	<div class="centered">
		<h2 class="heading">cv nfdh cvndf gh</h2>
		<p class="subheading">cbn dfg hdfg hvc bn
</p>
		<a href="http://">Testando C</a>
	</div>
</div>		</div>
	</div>
</div>
</div>
