---

calculator01:
  maincolor: red
  id01: radio01
  id02: radio02
  id03: radio03
  origin: SFO
  destination: HKG
  carrier: SQ

---
<style type="text/css">
	.divider{
		clear:both;
		padding-left: 5px;
		font-weight: bold;
		line-height: 60px;
		color: #555555;
		background-color: #eaeaea;
	}
</style>



<!--CALCULATOR-->
<div class="divider">Calculator Red - Carrier: SQ - Origin: SFO - Destination: HKG</div>
{{partial 'Calculator' calculator01}}
