---
masterhead:
  ouimage: ../images/sample_2000x665.jpg
  ouheader: How To Earn Points
  subheader: Testing the subheader text
  oubutton: Learn More
---
<!--MASTERHEAD-->
<div class="divider">Masterhead</div>
{{partial 'Masterhead' masterhead}}