<div class="header-normal">
  <div class="wrap">
  <h1 class="heading">News & Updates</h1>
  </div>
</div>
<div class="wrap">
  <div class="spacer" style="height:1px; padding-top:0px"><div class="line"></div></div>

  <div class="news border">
  <div class="container">

  <div class="col first">
      <div class="three-up-item-news">
        <div class="centered">
          <p class="subheading">1 hour ago</p>
          <h2 class="heading">New Virgin America Visa Signature® Cards Unveiled</h2>
          <a href="/cms/news/news_1.html">Read More</a>
        </div>
    </div>
  </div>

  <div class="col second">
      <div class="three-up-item-news">
        <div class="centered">
          <p class="subheading">1 week ago</p>
          <h2 class="heading">DFW Travel Advisory</h2>
          <a href="/cms/news/news_1.html">Read More</a>
        </div>
    </div>
  </div>

  <div class="col third">
      <div class="three-up-item-news">
        <div class="centered">
          <p class="subheading">1 week ago</p>
          <h2 class="heading">Coming May 14, a New Virginamerica.com</h2>
          <a href="/cms/news/news_1.html">Read More</a>
        </div>
    </div>
  </div>

  </div>
  </div>

<div class="spacer" style="height:1px; padding-top:0px"><div class="line"></div></div>

  <div class="three-up border">
  <div class="container">

  <div class="col first">
      <div class="three-up-item-news">
        <div class="centered">
          <p class="subheading">1 week ago</p>
          <h2 class="heading">Coming May 14, a New Virginamerica.com</h2>
          <a href="/cms/news/news_1.html">Read More</a>
        </div>
      </div>
  </div>

  <div class="col second">
      <div class="three-up-item-news">
        <div class="centered">
          <p class="subheading">1 week ago</p>
          <h2 class="heading">Virgin America Brings FLights to Dallas´ Love Field</h2>
          <a href="/cms/news/news_1.html">Read More</a>
        </div>
      </div>
  </div>

  <div class="col third">
      <div class="three-up-item-news">
        <div class="centered">
          <p class="subheading">1 week ago</p>
          <h2 class="heading">DFW Travel Advisory</h2>
          <a href="/cms/news/news_1.html">Read More</a>
        </div>
      </div>
  </div>

  </div>
  </div>
</div>