<div class="header-normal">
      <div class="wrap">
        <p class="heading-p">News & Updates</p>
        <p class="subheading"></p>
      </div>
    </div>
    <div class="wrap">
    	<div class="spacer" style="height:1px; padding-top:0px"><div class="line"></div></div>
    </div>
<div class="header-news">
  <div class="wrap">
    <div class="content">
      <h1 class="heading" itemprop="name">DFW Travel Advisory</h1>
      <h2 class="subheading" itemprop="description">Affected guests may cancel their flight without penalty and receive a credit for future travel valid for up to one years. </h2>
      <span style="display:none" itemprop="datePublished" content="YYY-MM-DD">2013-12-02</span>
      <p class="header-news-date">Monday, 12/02/2013</p>
      
    </div>
  </div>
</div>


<div class="text-body blue" style="padding-top:0px">
  <div class="wrap">
    <div class="content">
      <p>Due to winter storms in the Dallas-Fort Worth area, delays and cancellations are expected at Dallas-Fort Worth International Airport (DFW) for the above dates. All DFW guests are advised to remain up-to-date on their flight status before leaving for the airport by checking here:&nbsp;<a href="http://virginamerica.com/flight-status.html" style="">http://virginamerica.com/flight-status.html</a>&nbsp;or by signing up for Virgin America Flight Alerts here:<a href="http://virginamerica.com/flight-alerts.html" style="">http://virginamerica.com/flight-alerts.html</a>.</p>

<p><strong>Travel waiver:</strong>&nbsp;Guests with confirmed flights departing to or originating from DFW on December 6-7, 2013, may change their travel date without paying change fees or the difference in fares through Sunday December 8, 2013.* Alternatively, affected guests may cancel their flight without penalty and receive a credit for future travel valid for up to one year. Changes must be made prior to originally scheduled departure time and original travel must have been booked on or before December 6, 2013. Guests may make these changes on the Manage Travel tab at&nbsp;<a href="http://www.virginamerica.com/" style="">www.virginamerica.com</a>.</p>

<p>*Guests can change to available flights between December 6-15, 2013 on the same route as the original itinerary and within the same class of service to avoid any applicable change fees.</p>

<p><h2 class="subheading">Changes must be made prior to originally scheduled departure time</h2></p>

<p>Guests with confirmed flights departing to or originating from DFW on December 6-7, 2013, may change their travel date without paying change fees or the difference in fares through Sunday December 8, 2013.* Alternatively, affected guests may cancel their flight without penalty and receive a credit for future travel valid for up to one year. Changes must be made prior to originally scheduled departure time and original travel must have been booked on or before December 6, 2013. Guests may make these changes on the Manage Travel tab at&nbsp;<a href="http://www.virginamerica.com/" style="">www.virginamerica.com</a>.</p>

    </div>
  </div>
</div>
