<section class="routes">
    <header class="wrap routes__header">
        <h1>Where We Fly</h1>
        <div>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
    </header>

    <div ng-include="'/app/routes/templates/where-we-fly.tpl.html'"></div>
<noscript> 
<div> 
<h1>Where We Fly</h1> 
<h2>Virgin America gets you where you need to go, for work and play, in style. Fly to over 20 hotspots with mood lighting, 
fleetwide WiFi, on-demand entertainment and more.</h2> 
</div> 
</section>