<div class="promotions-accordion" id="promotions-accordion" ng-controller="PromotionsCtrl">
    <div data-vx-accordion data-content-type="promotion" data-title="Flying with us" data-template="/app/success/templates/flying-with-us.tpl.html" data-content="promotions.flyingWithUs" data-expanded="true" data-expandable="true"></div>
    <div data-vx-accordion data-content-type="promotion" data-title="Onboard Entertainment" data-template="/app/success/templates/entertainment.tpl.html" data-content="promotions.onboardEntertainment" data-expanded="false" data-expandable="true" data-header-class="promotion__header--entertainment"></div>
    <div data-vx-accordion data-content-type="promotion" data-title="Food &amp; Drinks" data-template="/app/success/templates/food-and-drinks.tpl.html" data-content="promotions.foodAndDrink" data-expanded="false" data-expandable="true" data-header-class="promotion__header--food"></div>
</div>