/* ==========================================================================
   COMPONENT - HeaderMedium
   ========================================================================== */
.header-medium{

	@include header;
	padding-top: 50px;
	padding-bottom: 50px;
	.heading{
		@include gotham-xlight;
		@include font-size(3.6);
		@include line-height(3.6);
		@include letter-spacing (0);
		color: $red-h1;
		margin: 0px;
		padding: 0px;
		margin-bottom: 7px;
	}
	.subheading{
		@include gotham-book;
		@include font-size(1.4);
		@include line-height(2.4);
		@include letter-spacing (-20);
		color: $black;
				a,
		a:hover{
			background: initial;
			border: initial;
			color: initial;
			display: initial;
			font: initial;
			height: initial;
			letter-spacing: initial;
			line-height: initial;
			text-transform: initial;
			visibility: initial;
			width: initial;
			word-spacing: initial;
			z-index: initial;
			text-align: initial;
			text-decoration: underline;
			text-transform: initial;
			cursor: initial;
			padding: initial;
			max-width: initial;
			min-width: initial;
			margin: initial;
			@include gotham-book;
			@include font-size(1.4);
			@include line-height(2.4);
			@include letter-spacing (-20);
			color: $black;
		}
	}
  	@include at-medium {
    	@include container;
		.heading{
			@include gotham-thin;
			@include font-size(8);
			@include line-height(7);
			@include letter-spacing (-400);
			margin-bottom: 20px;
		}
		.subheading{
			@include gotham-light;
			@include font-size(1.6);
			@include line-height(2.0);
			@include letter-spacing (-25);
			@include pad(2, 2, 12);
			a,
		a:hover{
			@include gotham-light;
			@include font-size(1.6);
			@include line-height(2.0);
			@include letter-spacing (-25);
		}
		}
 	}
	@include at-large {

		@include container;

		.heading{
			@include gotham-thin;
			@include font-size(9);
			@include line-height(10);
			@include letter-spacing (-600);
			margin: 0px;
		}
		.subheading{
			@include gotham-light;
			@include font-size(2.2);
			@include line-height(2.8);
			@include letter-spacing (-25);
			padding-top: 15px;
			a,
		a:hover{
			@include gotham-light;
			@include font-size(2.2);
			@include line-height(2.8);
			@include letter-spacing (-25);
		}
		}
	}
}