/* ==========================================================================
COMPONENT - PromoBox
========================================================================== */
.promobox{
	@include component;
	@include button;
	@include wrap;
	text-align: center;
	padding-left: 18px;
	padding-right: 18px;
	a{
		border: none;
		background-color: $red;
		color: $white;
		margin-top: 40px;
		&:hover{
			background-color: $red-hover;
		}
		&:active{
			padding: 10px 0;
			@include background-image(linear-gradient($red, $red-hover));
		}
	}
	.centered{
		border: 1px solid $border-grey;
		padding: 17px;
	}
	h1{
		@include gotham-medium;
		@include font-size(1.6);
		@include line-height(2.0);
		margin-top: 0px;
	}
	h2{
		@include gotham-bold;
		@include font-size(1.2);
		@include line-height(2.4);
		color: $red;
		text-transform: uppercase;
		margin-bottom: 0px;
	}
	@include at-medium {
		padding-left: 8.56354%;
		padding-right: 8.56354%;
		.centered{
			padding: 19px;
		}
    	h1{
			@include gotham-medium;
			@include font-size(1.8);
		}
 	}
	@include at-large {
		padding-left: 16.94352%;
		padding-right: 16.94352%;
		.centered{
			padding: 20px;
		}
		h1{
			@include font-size(2.2);
			@include line-height(2.4);
		}
	}
}