/* ==========================================================================
COMPONENT - Radio Buttons
========================================================================== */
.radio-buttons{

  @include component;
  @include wrap;

  .radio-buttons-container{

    text-align: center;
    border-bottom: 1px solid $border-grey;
    display: table;
    margin: 0 auto;
    padding: 30px 0 10px;
    text-align: center;
    white-space: nowrap;

    @include at-medium {

      width: 100%;
      max-width: 352px;
    }
  }

  label{

    @include gotham-medium;
    @include line-height(1.6);
  }

  input[type=radio] {

      display: none;
  }
  input[type=radio] + label{

      cursor: pointer;
      display: inline-block;
      line-height: 16px;
      position: relative;
      padding-left: 20px;
  }

  input[type=radio] + label:before {

      border: 2px solid $border-grey;
      border-radius: 14px;
      content: '';
      display: block;
      height: 12px;
      left: 0;
      position: absolute;
      width: 12px;
      top: 0;
  }
  input[type=radio]:hover + label:hover:before {

      border-color: $black;
      content: '';
      display: block;
    }
  &.red{
    input[type=radio]:hover + label:hover:before {

      border-color: $red;
      content: '';
      display: block;
    }
  }
  &.purple{
    input[type=radio]:hover + label:hover:before {

      border-color: $purple;
      content: '';
      display: block;
    }
  }

  input[type=radio]:checked + label:before {

      content: '';
      display: block;
      border-color: $border-grey;
  }

  input[type=radio] + label:after {

    background: $black;
    border-radius: 10px;
    content: '';
    display: none;
    height: 10px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 10px;
  }
  &.red{
    input[type=radio] + label:after {

      background: $red;
      border-radius: 10px;
      content: '';
      display: none;
      height: 10px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 10px;
    }
  }
  &.purple{
    input[type=radio] + label:after {

      background: $purple;
      border-radius: 10px;
      content: '';
      display: none;
      height: 10px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 10px;
    }
  }
  input[type=radio]:checked + label:after {

      display: block;
  }

  input[type=radio]:hover + label:active:before {

      background: $black;
      border-color: $black;
  }
  &.red{
    input[type=radio]:hover + label:active:before {

        background: $red;
        border-color: $red;
    }
  }
  &.purple{
    input[type=radio]:hover + label:active:before {

        background: $purple;
        border-color: $purple;
    }
  }
}