/* ==========================================================================
   Site Map Component
   ========================================================================== */
.site-map{
	@include component;
	@include wrap;
	@include gotham-book;
	@include font-size(1.1);
	@include line-height(2.1);
	@include letter-spacing(1.8);
	color: $black222;
	.first{
    @include gotham-medium;
      @include font-size(1.4);
      @include line-height(2.1);
      margin-top: 0px;
      margin-left: 0px;
	}
	.second{
		@include gotham-light;
    	@include font-size(1.2);
      @include line-height(2.1);
      margin-top: -10px;
      margin-left: 0px;
	}
  .third{
    @include gotham-light;
      @include font-size(1.2);
      @include line-height(2.1);
      margin-top: -10px;
      margin-left: 20px;
  }
	.container{
	}
	@include at-medium {
		.column {
		    -moz-column-count: 2;
		    -moz-column-gap: 20px;
		    -ms-column-count: 2;
		    -ms-column-gap: 20px;
		    -webkit-column-count: 3;
		    -webkit-column-gap: 20px;
		    column-count: 2;
		    column-gap: 20px;
		}
 	}
	@include at-large {
		@include pad(1,1);
		.column {
		    -moz-column-count: 3;
		    -moz-column-gap: 70px;
		    -ms-column-count: 3;
		    -ms-column-gap: 70px;
		    -webkit-column-count: 4;
		    -webkit-column-gap: 70px;
		    column-count: 3;
		    column-gap: 70px;
		}
	}
}
