/* ==========================================================================
COMPONENT - TableTwoColumn
========================================================================== */
.table-column-two{
  @include wrap;
  @include component;
  .container{
    @include overflow-scrolling;
  }
  table{
    @include table;
      min-width: 1000px;
    .first{
      width: 50%;
    }
    .second {
      width: 50%;
    }
  }
}
